.body {
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.home-bg-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -11;
}

