.title {
  height: 100vh;
  scroll-snap-align: start;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.title h1 {
  padding-top: 105px;
  font-size: 80px;
  letter-spacing: 10px;
  background: linear-gradient(
    to right,
    rgb(195, 170, 201),
    rgb(92, 32, 94),
    rgb(40, 16, 44),
    rgb(49, 7, 44),
    rgb(12, 1, 14)
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 900;
  transition: font-size 1s;
}

h1:hover {
  font-size: 95px;
}
